---
layout: base.njk
---

<div class="container mb-5">
    <div class="row mt-5 d-flex">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="content-container py-5 px-4 px-lg-5 border shadow-sm rounded">
                <h2>{{ title }}</h2>
                <div class="d-flex mt-3">
                    <div class="author d-flex align-items-center me-3">
                        <img src="/assets/icon/ic_author.svg" alt="">
                        <p class="text-muted">{{ author }}</p>
                    </div>
                    <div class="calendar d-flex align-items-center">
                    <img src="/assets/icon/ic_calendar.svg" alt="">
                        <p class="text-muted">{{ date | dateFilter }}</p>
                    </div>
                </div>
                <div class="thumbnail mt-3">
                    <img src="{{ image }}" alt="{{ imageAlt }}" class="img-fluid">
                </div>
                <div class="content mt-4">
                    <div class="content">
                        {{ content | safe }}
                    </div>
                </div>
            </div>
            <div class="sharethis-inline-share-buttons py-5 px-2 mt-4 border shadow-sm rounded"></div>
            <div id="disqus_thread" class="py-5 px-4 px-lg-5 mt-4 border shadow-sm rounded"></div>
        </div>
        <div class="col-12 col-lg-4 mx-auto mt-4 mt-lg-0">
            {% include 'sidebar.njk' %}
        </div> 
    </div>
</div>