<footer>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-lg-3 mt-lg-5 mt-3">
                <img src="/assets/img/logo.png" alt="" class="logo">
                <p class="text-white jargon mt-3">Cerdas, Displin, Berprestasi</p>
            </div>
            <div class="col-12 col-lg-3 mt-lg-5 mt-3">
                <h5>Social</h5>
                <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="https://www.instagram.com/smknsatukemang/">Instagram</a></li>
                    <li class="mt-3"><a href="https://www.facebook.com/smknsatukemang">Facebook</a></li>
                    <li class="mt-3"><a href="https://twitter.com/smknsatukemang">Twitter</a></li>
                    <li class="mt-3"><a href="https://www.youtube.com/channel/UCKI_OhdvMZgxZ_fdsyujLUw">Youtube</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 mt-lg-5 mt-3">
                <h5>Sekolah</h5>
                <ul class="list-unstyled mt-4">
                    <li class="mt-3"><a href="/page/sejarah-sekolah">Sejarah Sekolah</a></li>
                    <li class="mt-3"><a href="/page/visi-misi">Visi & Misi</a></li>
                    <li class="mt-3"><a href="/page/fasilitas-sekolah">Fasilitas Sekolah</a></li>
                    <li class="mt-3"><a href="/page/profil-sekolah">Profil Sekolah</a></li>
                    <li class="mt-3"><a href="/page/sturktur-organisasi">Struktur Organisasi</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3 mt-lg-5 mt-3">
                <h5>Kontak</h5>
                <div class="kontak mt-3">
                    <div class="kontak-item d-flex">
                        <img src="/assets/icon/ic_placeholder.svg" alt="" class="me-3">
                        <p>Jl. Kemang Limus Manggung RT. 004 RW. 002 Kemang Desa Kemang Kecamatan Kemang Kabupaten Bogor</p>
                    </div>
                    <div class="kontak-item d-flex">
                        <img src="/assets/icon/ic_telephone.svg" alt="" class="me-3">
                        <p>+622517594566</p>
                    </div>
                    <div class="kontak-item d-flex">
                        <img src="/assets/icon/ic_mail.svg" alt="" class="me-3">
                        <p>smknsatukemang@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5 mb-0">
    <span class="d-flex align-items-center justify-content-center">&copy; 2021 SMK Negeri 1 Kemang. All Rights Reserved.</span>
</footer>