{# Mini Snippet Sidebar - Component #}

<div class="card mb-3 p-0">
    <div class="row g-0">
        <div class="col-md-4">
            <img 
                src="{{ image }}" 
                class="img-fluid rounded-start" 
                alt="{{ imageAlt }}"
            >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h6>
                    <a 
                        href="{{ url }}" 
                        class="card-title"
                    >
                        {{ title }}
                    </a>
                </h6>
                <div class="footer d-flex justify-content-between">
                    <div class="author d-flex align-items-center me-3">
                        <img
                            src="/assets/icon/ic_author.svg"
                            alt="{{ imageAlt }}"
                        >
                        <small class="text-muted ms-2">
                            {{ author }}
                        </small>
                    </div>
                    <div class="calendar d-flex align-items-center">
                        <img
                            src="/assets/icon/ic_calendar.svg"
                            alt="{{ imageAlt }}"
                        >
                        <small class="text-muted ms-2">
                            {{ date | dateFilter }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>