<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
    <a class="navbar-brand" href="/">
        <img src="/assets/img/logo.png" class="logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-3 mb-lg-0 ms-auto d-flex">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Beranda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/berita">Berita</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/page/sejarah-sekolah">Sejarah Sekolah</a></li>
                    <li><a class="dropdown-item" href="/page/visi-misi">Visi & Misi</a></li>
                    <li><a class="dropdown-item" href="/page/fasilitas-sekolah">Fasilitas Sekolah</a></li>
                    <li><a class="dropdown-item" href="/page/profil-sekolah">Profil Sekolah</a></li>
                    <li><a class="dropdown-item" href="/page/sturktur-organisasi">Struktur Organisasi</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/galeri">Galeri</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="btn btn-primary mt-3 mt-md-0">Hubungi Kami</a>
            </li>
        </ul>
    </div>
    </div>
</nav>