{# Snippet News Component #}

<div class="card mx-3 mb-5 p-4 shadow-sm rounded">
    <img
        src="{{ image }}"
        class="card-img-top border rounded"
        alt="{{ `Thumbnail - ${ title }` }}"
    >

    <div class="card-body p-0">
        <div class="date-container d-flex align-items-center my-3">
            <img src="/assets/icon/ic_calendar.svg" alt="" class="me-2" width="16px">
            <span class="text-muted">{{ date | dateFilter }}</span>
        </div>

        <h4>
            <a
                href="{{ url }}"
                class="card-title"
            >
                {{ title }}
            </a>
        </h4>
        <p class="card-text mt-3">
            {{ description }}
        </p>
    </div>
</div>