---
layout: base.njk
title: Berita - SMK Negeri 1 Kemang
---

{# Halaman Berita #}

<h2 class="text-center judul my-5">
    Berita
</h2>

<section class="section-berita mb-5">    
    <div class="container mb-5">
        <div class="row mt-5 d-flex">
            {# Snippet Component #}
            {%- for news in collections.news | reverse -%}
                <div class="col-12 col-lg-4 mb-3">
                    {% set title = news.data.title %}
                    {% set image = news.data.image %}
                    {% set description = news.data.description %}
                    {% set date = news.date %}
                    {% set url = news.url %}
                    {% include 'snippet.njk' %}
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>