---
layout: base.njk
title: Contact - SMK Negeri 1 Kemang
additionalStyle: <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
---

{# Halaman Kontak #}

<h2 class="text-center judul my-5">
    Hubungi Kami
</h2>

<section class="section-contact mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mt-lg-0">
                <div class="card p-5 d-flex flex-column align-items-center border shadow-sm rounded">
                    <img 
                        src="/assets/icon/ic_maps_telephone.svg"
                        class="contact-icon"
                        alt="icon telephone"
                    >
                    <h4 class="mt-3">
                        Telepon
                    </h4>
                    <p class="text-center mt-2 text-muted">
                        Hubungi kami mengenai apa saja dengan nomor dibawah ini.
                    </p>
                    <span class="text-center">
                        +622517594566
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0">
                <div class="card p-5 d-flex flex-column align-items-center border shadow-sm rounded">
                    <img
                        src="/assets/icon/ic_maps.svg"
                        class="contact-icon"
                        alt="icon lokasi"
                    >
                    <h4 class="mt-3">
                        Alamat
                    </h4>
                    <p class="text-center mt-2 text-muted">
                        Hubungi kami mengenai apa saja dengan langsung datang kesekolah.
                    </p>
                    <span class="text-center">
                        Jl. Kemang Limus Manggung RT. 004 RW. 002 Kemang Desa Kemang Kecamatan Kemang Kabupaten Bogor.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0">
                <div class="card p-5 d-flex flex-column align-items-center border shadow-sm rounded">
                    <img
                        src="/assets/icon/ic_maps_email.svg"
                        class="contact-icon"
                        alt="icon maps"
                    >
                    <h4 class="mt-3">
                        Email
                    </h4>
                    <p class="text-center mt-2 text-muted">
                        Hubungi kami mengenai apa saja dengan email dibawah ini.
                    </p>
                    <span class="text-center">
                        smknsatukemang@gmail.com
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mt-5 mb-0 maps">
    <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=1440&amp;height=400&amp;hl=en&amp;q=smkn%201%20kemang%20Bogor+(SMkN%201%20Kemang)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    <a href='http://maps-website.com/'>Google maps</a>
    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=7f38a8eaa537a703556b482088710a1831f107b2'></script>
</div>
