---
layout: base.njk
title: Contact
additionalStyles: <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
additionalScript: <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-Zy7rm2V45QNKdcuQAyikGbEQcDdEgk&callback=initMap&libraries=&v=weekly" async></script>
---

<div class="breadcrumb-bg">
    <div class="container">
        <div class="col-12">
            <nav>
                <ol class="breadcrumb d-flex align-items-center">
                    <li class="breadcrumb-item">
                        Beranda
                    </li>
                    <li class="breadcrumb-item active">
                        Hubungi Kami
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
    
<h2 class="text-center judul my-5">Hubungi Kami</h2>
    
<section class="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mt-5 mt-lg-0 d-flex flex-column align-items-center p-4">
                <img src="/assets/icon/ic_maps_telephone.svg" class="contact-icon" alt="">
                <h4 class="mt-2">Telepon</h4>
                <p class="text-center mt-2">Hubungi kami mengenai apa saja dengan nomor dibawah ini.</p>
                <h5 class="text-center">+62xxxxxxxxxxx</h5>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0 d-flex flex-column align-items-center p-4">
                <img src="/assets/icon/ic_maps_email.svg" class="contact-icon" alt="">
                <h4 class="mt-2">Email</h4>
                <p class="text-center mt-2">Hubungi kami mengenai apa saja dengan email dibawah ini.</p>
                <h5 class="text-center">smknsatukemang@gmail.com</h5>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0 d-flex flex-column align-items-center p-4">
                <img src="/assets/icon/ic_maps_pin.svg" class="contact-icon" alt="">
                <h4 class="mt-2">Alamat</h4>
                <p class="text-center mt-2">Hubungi kami mengenai apa saja dengan langsung datang kesekolah.</p>
                <h5 class="text-center">Jl. Kemang Limus Manggung RT. 004 RW. 002 Kemang Desa Kemang Kecamatan Kemang Kabupaten Bogor</h5>
            </div>
        </div>
    </div>
</section>

<div id="map" class="mt-5"></div>