---
layout: base.njk
title: Contact - SMK Negeri 1 Kemang
additionalStyle: <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
additionalScript: <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-Zy7rm2V45QNKdcuQAyikGbEQcDdEgk&callback=initMap&libraries=&v=weekly" async></script><script src="/script/mapsConfig.js"></script>
---

{# Halaman Kontak #}

<h2 class="text-center judul my-5">
    Hubungi Kami
</h2>

<section class="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 mt-5 mt-lg-0">
                <div class="card p-5 d-flex flex-column align-items-center border shadow-sm rounded">
                    <img 
                        src="/assets/icon/ic_maps_telephone.svg"
                        class="contact-icon"
                        alt="icon telephone"
                    >
                    <h4 class="mt-2">
                        Telepon
                    </h4>
                    <p class="text-center mt-2 text-muted">
                        Hubungi kami mengenai apa saja dengan nomor dibawah ini.
                    </p>
                    <span class="text-center">
                        +622517594566
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0">
                <div class="card p-5 d-flex flex-column align-items-center border shadow-sm rounded">
                    <img
                        src="/assets/icon/ic_maps_pin.svg"
                        class="contact-icon"
                        alt="icon lokasi"
                    >
                    <h4 class="mt-2">
                        Alamat
                    </h4>
                    <p class="text-center mt-2 text-muted">
                        Hubungi kami mengenai apa saja dengan langsung datang kesekolah.
                    </p>
                    <span class="text-center">
                        Jl. Kemang Limus Manggung RT. 004 RW. 002 Kemang Desa Kemang Kecamatan Kemang Kabupaten Bogor.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0">
                <div class="card p-5 d-flex flex-column align-items-center border shadow-sm rounded">
                    <img
                        src="/assets/icon/ic_maps_email.svg"
                        class="contact-icon"
                        alt="icon maps"
                    >
                    <h4 class="mt-2">
                        Email
                    </h4>
                    <p class="text-center mt-2 text-muted">
                        Hubungi kami mengenai apa saja dengan email dibawah ini.
                    </p>
                    <span class="text-center">
                        smknsatukemang@gmail.com
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="map" class="mt-5"></div>
