---
layout: base.njk
title: Galeri - SMK Negeri 1 Kemang
---

<h2 class="text-center judul my-5">Galeri</h2>

<section class="section-galeri">
    <div class="container">
        <div class="row">
            {%- for item in collections.gallery -%}                    
                <div class="card col-12 col-lg-3 mb-4 border shadow rounded">
                    <img src="{{ item.data.image }}" alt="" width="100%">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.data.title }}</h5>
                        <p class="card-text">{{ item.data.date | dateFilter }}</p>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
