---
layout: base.njk
title: Galeri
---

<div class="breadcrumb-bg">
    <div class="container">
        <div class="col-12">
            <nav>
                <ol class="breadcrumb d-flex align-items-center">
                    <li class="breadcrumb-item">
                        Beranda
                    </li>
                    <li class="breadcrumb-item active">
                        Galeri
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<h2 class="text-center judul my-5">Galeri</h2>

<section class="section-galeri">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3 mb-4 d-flex flex-column align-items-center">
                <img src="/assets/img/image1.jpg" alt="">
                <div class="overlay">
                    <div class="title">
                        ads
                    </div>
                    <div class="date">
                        adsa
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>