---
layout: base.njk
title: SMK Negeri 1 Kemang
additionalStyle: <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
additionalScript: <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
---
<header>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div  class="col-10">
                <div class="content" data-aos="fade-right">
                    <h1 class="text-white">SMK Negeri 1 Kemang</h1>
                    <p class="text-white">Cerdas, Disiplin, Berprestasi</p>
                    <div class="button-container mt-5">
                        <a href="/page/ppdb-2021" class="btn btn-primary info-btn me-3">
                            <img src="/assets/icon/ic_handshake.svg" alt="" class="me-3" width="25px">
                            <span>Info PPDB</span>
                        </a>
                        <a href="/page/profil-sekolah" class="btn btn-outline-light profile-btn">
                            <img src="/assets/icon/ic_cv.svg" alt="" class="me-3 svg-one">
                            <img src="/assets/icon/ic_cv2.svg" alt="" class="me-3 svg-alternative">
                            <span>Profil Sekolah</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <section class="section-sejarah" data-aos="fade-up">
        <div class="row">
            <div class="col-12 col-md-5">
                <img src="/assets/img/image1.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h2 class="mt-3 mt-lg-0 mt-xxl-3">Sejarah Singkat</h2>
                <p class="mt-3 mt-lg-2 mt-xxl-4 text-muted">SMK Negeri 1 Kemang berdiri Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged....</p>
                <button class="btn btn-primary mt-3">Selengkapnya</button>
            </div>
        </div>
    </section>

    <div class="section-vismistu">
        <div class="row">
            <div class="col-12 col-md-6" data-aos="fade-right">
                <div class="card px-4 px-lg-5">
                    <img src="./assets/icon/ic_visi.svg" alt="" class="ic svg-one mt-5">
                    <img src="./assets/icon/ic_visi2.svg" alt="" class="ic svg-alternative mt-5">
                    <div class="card-body px-0 mb-5">
                        <h2 class="card-title">Visi</h2>
                        <p class="card-text text-muted">
                            Menjadi Lembaga Pendidikan dan Pelatihan, 
                            serta menghasilkan lulusan yang amanah, 
                            produktif, mampu bersaing secara Nasional 
                            dan Internasional yang beriman dan bertaqwa.
                        </p>
                    </div>
                    </div>
                </div>
            <div class="col-12 col-md-6 mt-3 mt-md-0"  data-aos="fade-right">
                <div class="card px-4 px-lg-5">
                    <img src="./assets/icon/ic_misi.svg" alt="" class="ic svg-one mt-5">
                    <img src="./assets/icon/ic_misi2.svg" alt="" class="ic svg-alternative mt-5">
                    <div class="card-body px-0 mb-5">
                        <h2 class="card-title">Misi</h2>
                        <p class="card-text text-muted">
                            1. Menyelenggarakan pembelajaran yang
                            inovatif dan kreatif sesuai dengan 
                            tuntutan era global.<br>
                            2. Melaksanakan pengamalan ajaran agama
                            yang dianutnya.<br>
                            3. Mengembangkan sistem pembelajaran
                            dan manajemen berbasis teknologi
                            informasi.<br>
                            4. Menjalin kemitraan dan kerjasama antar
                            sekolah maupun DU/DI baik dengan skala
                            Nasional maupun Internasional.
                        </p>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<section class="section-jurusan py-5">
    <div class="container">
        <h2 class="text-center py-3">Kompetensi Keahlian</h2>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-10 col-lg-4" data-aos="fade-right">
                <a href="/page/tkj" class="nav-link text-dark">
                    <div class="card pb-3">
                        <img src="./assets/icon/logo-tkj.svg" class="card-img-top mx-auto mt-5" alt="">
                        <h3 class="card-title text-center mt-3">
                            TKJ
                        </h3>
                        <div class="card-body">
                        <p class="card-text text-center text-muted">Teknik Komputer Dan Jaringan</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-10 col-lg-4" data-aos="fade-right">
                <a href="/page/dpib" class="nav-link text-dark">
                    <div class="card pb-3">
                        <img src="./assets/icon/logo-dpib.svg" class="card-img-top mx-auto mt-5" alt="">
                        <h3 class="card-title text-center mt-3">
                            DPIB
                        </h3>
                        <div class="card-body">
                        <p class="card-text text-center text-muted">Desain Pemodelan dan Informasi Bangunan</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-10 col-lg-4" data-aos="fade-right">
                <a href="/page/tbo" class="nav-link text-dark">
                    <div class="card pb-3">
                        <img src="./assets/icon/logo-tbo.svg" class="card-img-top mx-auto mt-5" alt="">
                        <h3 class="card-title text-center mt-3">
                            TBO
                        </h3>
                        <div class="card-body">
                            <p class="card-text text-center text-muted">Teknik Body Otomotif</p>
                        </div>
                    </div>
                </a>
            </div> 
            <div class="col-10 col-lg-4 mt-md-0" data-aos="fade-right">
                <a href="/page/tesha" class="nav-link text-dark">
                    <div class="card pb-3">
                        <img src="./assets/icon/logo-tesha.svg" class="card-img-top mx-auto mt-5" alt="">
                        <h3 class="card-title text-center mt-3">
                            TESHA
                        </h3>
                        <div class="card-body">
                            <p class="card-text text-center text-muted">Teknik Surya Hidro Angin</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-10 col-lg-4" data-aos="fade-right">
                <a href="/page/tkkr" class="nav-link text-dark">
                    <div class="card pb-3">
                        <img src="./assets/icon/logo-tkkr.svg" class="card-img-top mx-auto mt-5" alt="">
                        <h3 class="card-title text-center mt-3">
                            TKKR
                        </h3>
                        <div class="card-body">
                            <p class="card-text text-center text-muted">Tata Kecantikan Kulit Dan Rambut</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
    
<section class="section-berita mt-5">
    <div class="container">
        <h2 class="py-3 text-center text-md-start">Berita Terbaru</h2>
        <div class="row mt-5">
            {%- for news in collections.featured | reverse -%}
                <div class="col-12 col-md-6 col-lg-4" data-aos="fade-right">
                    {% set title = news.data.title %}
                    {% set image = news.data.image %}
                    {% set imageAlt = news.data.imageAlt %}
                    {% set description = news.data.description %}
                    {% set author = news.data.author %}
                    {% set date = news.date %}
                    {% set url = news.url %}
                    {% include 'snippet.njk' %}
                </div>
            {%- endfor -%}
        </div>
        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <a href="/berita" class="btn btn-primary lainya-btn" data-aos="fade-right">Lainya</a>
            </div>
        </div>
    </div>
</section>